    /*FUENTES*/
    
    @font-face {
        font-family: "fajala";
        src: url(../fonts/fuente.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    /*Generales*/
    
    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
    
    .clearfix {
        clear: both;
        float: none;
    }
    
    body {
        background: url(../img/cubes.png) #F4F4F4;
    }
    
    .alerta {
        color: white;
        background: green;
        padding: 5px;
        width: 70%;
        margin-bottom: 15px;
        border: 2px solid black;
    }
    /*Estilos de la cabecera*/
    
    .alerta_error {
        background: red;
    }
    
    .fecha {
        color: #4e4e4e;
        margin-top: 5px;
        font-size: 14px;
    }
    
    #cabecera {
        width: 85%;
        height: auto;
        background: transparent;
        margin: 0px auto;
    }
    /*LOGO TIPO*/
    
    #logo {
        float: left;
        width: 540px;
        height: 100px;
    }
    
    #logo a {
        font-family: 'fajala', Helvetica;
        font-size: 40px;
        letter-spacing: 2px;
        color: #2979CD;
        text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
        /*Le aplica 3 sombras*/
        transition: all 500ms;
        line-height: 90px;
        margin-left: 10px;
    }
    
    #logo a:hover {
        cursor: pointer;
        text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;
    }
    /*NAV*/
    
    #menu {
        clear: both;
        /*Si se lo sacamos se coloca en el medio, con esto
    le limpiamos los flotados de ambos costados*/
        width: 100%;
        height: 45px;
        /*Empieza con un color y se desvanece hacia arriba*/
        background: linear-gradient(to bottom, #F9F9F9 0px, #e9e9e9 100%);
        border: 1px solid #c9c9c9;
        /*Redondea la barra. Cuanto mayor sean los pixeles mayor es el redondeo*/
        border-radius: 8px;
        box-shadow: 0px 1px 1px #eee;
        /*todo lo que se salga de esta caja se esconde, si se lo sacamos, se puede ver que al hacer hover
    se escapa el color de la caja, con overflow:hidden eso no ocurre*/
        overflow: hidden;
    }
    
    #menu ul {
        list-style: none;
    }
    
    #menu li {
        /*Se flotan a la izquierda y asi se colocan uno al lado del otro*/
        float: left;
        /*Se centran verticalmente*/
        line-height: 44px;
        border-right: 1px solid #D6D6D6;
    }
    
    #menu ul li a {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        color: #736e6e;
    }
    
    #menu ul li:hover {
        background: linear-gradient(to bottom, #f2f2f2 0px, #dad9d4 100%);
    }
    /*Contenido*/
    
    #contenedor {
        width: 85%;
        height: auto;
        margin: 0px auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #sidebar {
        float: right;
        width: 27%;
        min-height: 900px;
    }
    
    .bloque {
        display: block;
        width: 90%;
        margin: 0px auto;
        margin-bottom: 50px;
        background: white;
        padding: 15px;
        box-shadow: 5px 5px 1px #c1c1c1;
        border-radius: 8px;
    }
    
    .bloque h3 {
        margin-bottom: 15px;
    }
    
    label,
    input[type='text'],
    input[type='password'],
    input[type='email'] {
        display: block;
        width: 95%;
        margin-top: 2px;
        margin-bottom: 5px;
    }
    
    input[type='text'],
    input[type='password'],
    input[type='email'] {
        margin-bottom: 10px;
        padding: 5px;
    }
    
    input[type='submit']:hover {
        background: #4ca0e4;
        transform: scale(1.1);
    }
    
    input[type='button'],
    input[type='submit'],
    .boton {
        margin-top: 5px;
        margin-bottom: 5px;
        color: white !important;
        background: #004379;
        padding: 7px;
        display: block;
        border-radius: 5px;
        border: 2px solid #9999;
        cursor: pointer;
    }
    
    .boton {
        margin: 0px auto;
        width: 50%;
        text-align: center;
        margin-bottom: 10px;
        display: inline-block;
    }
    
    .editar-entrada {
        margin-top: 10px;
    }
    
    .editar-entrada,
    .borrar-entrada {
        width: 15%;
    }
    
    .boton:hover {
        background: #4ca0e4;
        transform: scale(1.1);
    }
    
    #principal {
        float: left;
        width: 65%;
        min-height: 500px;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #2979CD;
        margin-left: 20px;
        padding: 10px;
        text-align: justify;
        overflow: hidden;
    }
    
    #principal a {
        color: #333;
    }
    
    #principal h1 {
        font-size: 32px;
        color: #444;
        letter-spacing: 1px;
        text-shadow: 1px 1px 2px #ccc;
        font-family: 'fajala';
        margin-bottom: 20px;
    }
    
    #principal h2 {
        font-size: 25px;
        text-shadow: 1px 1px 2px #2979CD;
        color: #2979CD;
        letter-spacing: 1px;
        font-family: 'fajala';
        margin-top: 25px;
    }
    
    #principal p {
        margin-top: 8px;
    }
    
    #ver-todas {
        margin-top: 20px;
    }
    
    #ver-todas a:hover {
        background: #4ca0e4;
        transform: scale(1.1);
    }
    
    #ver-todas a {
        color: white;
        background: #007EE5;
        padding: 10px;
        display: block;
        border-radius: 8px;
        border: 1px solid #156785;
        cursor: pointer;
        width: 160px;
        margin: 0px auto;
        text-align: center;
    }
    /*Pie de pagina*/
    
    #pie-pagina {
        clear: both;
        width: 83%;
        margin: 0px auto;
        background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
        border: 1px solid #c9c9c9;
        border-bottom: none;
        border-radius: 8px 8px 0px 0px;
        color: #666;
        height: auto;
        padding: 20px;
        text-align: center;
    }